- const whatTimeIsIt = targetDate => {
-   const nowTime = new Date();
- 
-   if (nowTime.getFullYear() !== targetDate.getFullYear()) {
-     return `${nowTime.getFullYear() - targetDate.getFullYear()} year`;
-   }
- 
-   if (nowTime.getMonth() !== targetDate.getMonth()) {
-     return `${nowTime.getMonth() - targetDate.getMonth()} mon`;
-   }
- 
-   if (nowTime.getDate() !== targetDate.getDate()) {
-     return `${nowTime.getDate() - targetDate.getDate()} day`;
-   }
- 
-   if (nowTime.getHours() !== targetDate.getHours()) {
-     if (nowTime.getHours() - targetDate.getHours() === 1 && nowTime.getMinutes() - targetDate.getMinutes() < 0) {
-       return `${nowTime.getMinutes() - targetDate.getMinutes() + 60} min`;
-     }
-     return `${nowTime.getHours() - targetDate.getHours()} hr`;
-   }
- 
-   if (nowTime.getMinutes() !== targetDate.getMinutes()) {
-     return `${nowTime.getMinutes() - targetDate.getMinutes()} min`;
-   }
- 
-   return "Now";
- };

mixin feedBlock(feed = {})
    article.feedBlock(id=`feedBlockIdx${feed.idx}`)
        .feedBlock__header
            a(href=routes.feedsUser(feed.writerIdx))#feedBolck-url
                img(src=feed.writerProfile, alt="userProfile")#feedBolck-url-img
            .feedBlock__header-grid
                #feedBolck-name
                    a(href=routes.feedsUser(feed.writerIdx))
                        span=feed.writer
                span #{whatTimeIsIt(feed.createdAt)}
            .feedBlock__header-subMenuBtn(id=`jsFeedBolckBtnIdx`, value=feed.idx)
                i.fas.fa-ellipsis-h
        .feedBlock__body
            span=feed.description
            .feedBlock__body-img
                if feed.fileUrl !== null
                    img(src=feed.fileUrl, alt="content img")
        .feedBlock__footer
            .feedBlock__footer-top
                .feedBlock__footer-like
                    img(src="/img/like_on.png", alt="like img")
                    span=feed.likes
                .feedBlock__footer-comment
                    img(src="/img/comment_on.png", alt="comment img")
                    span=feed.comments
            .feedBlock__designLine
            .feedBlock__footer-btn
                button
                    img(src="/img/like_off.png", alt="like img").feedBlock__footer-btn--like
                    span Like
                button
                    img(src="/img/comment_off.png", alt="like img").feedBlock__footer-btn--comment
                    span Comment
        .feedBlock__subMenu(id=`jsFeedBlockSubMenuIdx${feed.idx}`, style="display: none")
            button(id="jsFeedBlockEdit", value=feed.idx)
                i.far.fa-edit
                    span 수정하기
            button(id="jsFeedBlockDelete", value=feed.idx)
                i.far.fa-trash-alt
                    span 삭제하기