- const whatTimeIsIt = targetDate => {
-   const nowTime = new Date();
- 
-   if (nowTime.getFullYear() !== targetDate.getFullYear()) {
-     return `${nowTime.getFullYear() - targetDate.getFullYear()} year`;
-   }
- 
-   if (nowTime.getMonth() !== targetDate.getMonth()) {
-     return `${nowTime.getMonth() - targetDate.getMonth()} mon`;
-   }
- 
-   if (nowTime.getDate() !== targetDate.getDate()) {
-     return `${nowTime.getDate() - targetDate.getDate()} day`;
-   }
- 
-   if (nowTime.getHours() !== targetDate.getHours()) {
-     if (nowTime.getHours() - targetDate.getHours() === 1 && nowTime.getMinutes() - targetDate.getMinutes() < 0) {
-       return `${nowTime.getMinutes() - targetDate.getMinutes() + 60} min`;
-     }
-     return `${nowTime.getHours() - targetDate.getHours()} hr`;
-   }
- 
-   if (nowTime.getMinutes() !== targetDate.getMinutes()) {
-     return `${nowTime.getMinutes() - targetDate.getMinutes()} min`;
-   }
- 
-   return "Now";
- };

include ./feedCommentBlock

mixin feedBlock(feed = {})
    article.feedBlock(id=`feedBlockIdx${feed.idx}`, value=feed.idx)
        .feedBlock__header
            a(href=routes.feedsUser(feed.writerIdx))
                img(src=feed.writerProfile, alt="userProfile")
            .feedBlock__header-grid
                .feedBolck__header-userName
                    a(href=routes.feedsUser(feed.writerIdx))
                        span=feed.writer
                if feed.edited === 1
                    span #{whatTimeIsIt(feed.createdAt)} | edited
                else
                    span #{whatTimeIsIt(feed.createdAt)}
            if feed.writerIdx === user.idx
                .feedBlock__header-subMenuBtn(id=`jsFeedBolckBtnIdx`)
                    i.fas.fa-ellipsis-h
        .feedBlock__subMenu(id=`jsFeedBlockSubMenuIdx${feed.idx}`, style="display: none")
            button(id="jsFeedBlockEdit", value=feed.idx)
                i.far.fa-edit
                    span 수정하기
            button(id="jsFeedBlockDelete", value=feed.idx)
                i.far.fa-trash-alt
                    span 삭제하기
        .feedBlock__body
            span(id=`feedBlockDescriptionIdx${feed.idx}`)=feed.description
            .feedBlock__body-img
                if feed.fileUrl !== null
                    img(src=feed.fileUrl, alt="content img", id=`feedBlockImgIdx${feed.idx}`)
        .feedBlock__footer
            .feedBlock__footer-top
                .feedBlock__footer-like
                    img(src="/img/like_on.png", alt="like img")
                    span(id=`jsLikeCountNumberIdx${feed.idx}`)=feed.likes
                .feedBlock__footer-comment
                    img(src="/img/comment_on.png", alt="comment img")
                    span=feed.comments
            .feedBlock__designLine
            .feedBlock__footer-btn
                button#jsLikeBtn
                    if likeList.indexOf(feed.idx) !== -1
                        i.far.fa-thumbs-up(id=`LikeBtnIdx${feed.idx}`, style="font-weight: 600; color: rgb(32, 120, 244)")  Like
                    else 
                        i.far.fa-thumbs-up(id=`LikeBtnIdx${feed.idx}`, style="font-weight: 400")  Like
                button#jdCommentBtn
                    i.far.fa-comment-alt(id=`CommentBtnIdx${feed.idx}`)  Comment
        .feedBlock__comments(id=`commentIdx${feed.idx}`, value=feed.idx, style="display: none;")
            .feedBlock__comments-write
                form(onsubmit="return false;")
                    img(src=feed.writerProfile, alt="userProfile")
                    input(type="text", textarea="commentWrite", id=`commentInputIdx${feed.idx}`)
                    input(type="submit", value="Add")
                    input(type="hidden",name="targetIdx" value=feed.idx)
            .feedBlock__comments-commentsList(id=`jsCommetListIdx${feed.idx}`)
                //- each item in comments
                //-     +feedCommentBlock({
                //-         idx: item.idx,
                //-         writerIdx: item.writerIdx,
                //-         writerProfile: item.profile,
                //-         name: item.name,
                //-         description: item.description,
                //-         createdAt: item.createdAt,
                //-         feedIdx: item.feedIdx

                //-     })
                //- .feedBlock__comments-single
                //-     a(href="#")
                //-         img(src=feed.writerProfile, alt="userProfile")
                //-     .feedBlock__comments-single--body
                //-         .feedBlock__comment-block
                //-             .feedBlock__comment-block--description
                //-                 a(href="") 김두현
                //-                 span 이렇게
                //-             .feedBlock__comment-subMenu
                //-                 i.fas.fa-ellipsis-h
                //-                     .feedBlock__comment-subMenuBox
                //-                         button
                //-                             i.far.fa-edit
                //-                                 span 수정하기
                //-                         button
                //-                             i.far.fa-trash-alt
                //-                                 span 삭제하기
                //-         .feedBlock__comment-block--fuction
                //-             a(role="button") 답글 달기
                //-             span  · 
                //-             span Now
                //- .feedBlock__comments-single--edit
                //-     form(onsubmit="return false;")
                //-         img(src=user.profile, alt="userProfile")
                //-         input(type="text", textarea="commentWrite")
                //-         input(type="submit", value="Edit")
                //-         input(type="hidden",name="targetIdx" value=feed.idx)
                //- .feedBlock__comments-Re
                //-     .dsa
                //-     a(href="#")
                //-         img(src=feed.writerProfile, alt="userProfile")
                //-     .feedBlock__comment-Re
                //-         .feedBlock__comment-Re--description
                //-             a(href="#") 김두현
                //-             span 이렇게 간다.ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
                //-         .feedBlock__comment-Re--fuction
                //-             span Now
                //-     .feedBlock__comment-Re-subMenu
                //-         i.fas.fa-ellipsis-h
                //-             .feedBlock__comment-Re-subMenuBox
                //-                 button
                //-                     i.far.fa-edit
                //-                         span 수정하기
                //-                 button
                //-                     i.far.fa-trash-alt
                //-                         span 삭제하기
