- const whatTimeIsIt = targetDate => {
-   const nowTime = new Date();
- 
-   if (nowTime.getFullYear() !== targetDate.getFullYear()) {
-     return `${nowTime.getFullYear() - targetDate.getFullYear()} year`;
-   }
- 
-   if (nowTime.getMonth() !== targetDate.getMonth()) {
-     return `${nowTime.getMonth() - targetDate.getMonth()} mon`;
-   }
- 
-   if (nowTime.getDate() !== targetDate.getDate()) {
-     return `${nowTime.getDate() - targetDate.getDate()} day`;
-   }
- 
-   if (nowTime.getHours() !== targetDate.getHours()) {
-     if (nowTime.getHours() - targetDate.getHours() === 1 && nowTime.getMinutes() - targetDate.getMinutes() < 0) {
-       return `${nowTime.getMinutes() - targetDate.getMinutes() + 60} min`;
-     }
-     return `${nowTime.getHours() - targetDate.getHours()} hr`;
-   }
- 
-   if (nowTime.getMinutes() !== targetDate.getMinutes()) {
-     return `${nowTime.getMinutes() - targetDate.getMinutes()} min`;
-   }
- 
-   return "Now";
- };

include ./feedCommentBlock

mixin feedBlock(feed = {})
    article.feedBlock(id=`feedBlockIdx${feed.idx}`, value=feed.idx)
        .feedBlock__header
            a(href=routes.feedsUser(feed.writerIdx))
                img(src=feed.writerProfile, alt="userProfile")
            .feedBlock__header-grid
                .feedBolck__header-userName
                    a(href=routes.feedsUser(feed.writerIdx))
                        span=feed.writer
                    if feed.otherName && feed.otherName !== feed.writer
                        .feedBolck__header-from-userName
                            span ðŸ‘‰ðŸ»
                            span=feed.otherName
                if feed.edited === 1
                    span #{whatTimeIsIt(feed.createdAt)} Â· Edited
                else
                    span #{whatTimeIsIt(feed.createdAt)}
            if feed.writerIdx === user.idx
                .feedBlock__header-subMenuBtn(id=`jsFeedBolckBtnIdx`)
                    i.fas.fa-ellipsis-h
        .feedBlock__subMenu(id=`jsFeedBlockSubMenuIdx${feed.idx}`, style="display: none")
            button(id="jsFeedBlockEdit", value=feed.idx)
                i.far.fa-edit
                    span ìˆ˜ì •í•˜ê¸°
            button(id="jsFeedBlockDelete", value=feed.idx)
                i.far.fa-trash-alt
                    span ì‚­ì œí•˜ê¸°
        .feedBlock__body
            span(id=`feedBlockDescriptionIdx${feed.idx}`)=feed.description
            .feedBlock__body-img
                if feed.fileUrl !== null
                    img(src=feed.fileUrl, alt="content img", id=`feedBlockImgIdx${feed.idx}`)
        .feedBlock__footer
            .feedBlock__footer-top
                .feedBlock__footer-like
                    img(src="/img/like_on.png", alt="like img")
                    span(id=`jsLikeCountNumberIdx${feed.idx}`)=feed.likes
                .feedBlock__footer-comment
                    img(src="/img/comment_on.png", alt="comment img")
                    if feed.comments === null
                        span(id=`jsFeedCommentCountIdx${feed.idx}`) 0
                    else
                        span(id=`jsFeedCommentCountIdx${feed.idx}`)=feed.comments
            .feedBlock__designLine
            .feedBlock__footer-btn
                button#jsLikeBtn
                    if likeList.indexOf(feed.idx) !== -1
                        i.far.fa-thumbs-up(id=`LikeBtnIdx${feed.idx}`, style="font-weight: 600; color: rgb(32, 120, 244)")  Like
                    else 
                        i.far.fa-thumbs-up(id=`LikeBtnIdx${feed.idx}`, style="font-weight: 400")  Like
                button#jsCommentBtn
                    i.far.fa-comment-alt(id=`CommentBtnIdx${feed.idx}`)  Comment
        .feedBlock__comments(id=`commentIdx${feed.idx}`, value=feed.idx, style="display: none;")
            .feedBlock__comments-write
                form(onsubmit="return false;")
                    img(src=user.profile, alt="userProfile")
                    input(type="text", textarea="commentWrite", id=`commentInputIdx${feed.idx}`, autocomplete="off", required)
                    input(type="submit", value="Add")
                    input(type="hidden",name="targetIdx" value=feed.idx)
            .feedBlock__comments-commentsList(id=`jsCommetListIdx${feed.idx}`, value=0)
            .feedBlock__comments-pagingBtn(value=feed.idx)
                a(role="button") ëŒ“ê¸€ ë”ë³´ê¸°