extends ./layouts/main.pug
include ./mixins/feedMainBlock
include ./mixins/randomFriendBlock

block content
    .feed-user
        .feed-user__wrapper
            h1.ir_su Feed User
            section.feed-user__info
                article.feed-user__info--backgroud-img(style=`background-image: url(${otherUser.cover});`)
                    .feed-user__info--backgroud-effect
                        img(src=otherUser.profile, alt="user profile")
                        span=otherUser.name
                nav.feed-user__info-subNav
                    h4=`${otherUser.name}님의 타임라인`
                    if user.idx === otherUser.idx
                        a(href=`/user${routes.editPassword}`) Edit Password
                        a(href=`/user${routes.editProfile}`) Edit Profile
            section.feed-user__grid-layout
                article.feed-user__aside-users
                    h5 Random Users
                        each item in [0,0,0,0,0]
                            +randomFriendBlock({
                                idx: item.idx,
                                profile: item.profile,
                                name: item.name
                            })
                .feed-user__feed
                    article.feed-user__upload
                        include ./partials/feedUpload.pug
                    article.feed-user__content
                        each item in feeds
                            +feedBlock({
                                idx: item.idx,
                                writer: item.writer,
                                writerIdx: item.writer_idx,
                                writerProfile: otherUser.profile,
                                createdAt: item.createdAt,
                                fileUrl: item.fileUrl,
                                description: item.description,
                                likes: item.likes
                            })