extends ./layouts/main.pug
include ./mixins/feedMainBlock
include ./mixins/friendProfileBlock

block content
    .feed-user
        .feed-user__wrapper
            h1.ir_su Feed User
            section.feed-user__info
                article.feed-user__info--backgroud-img(style=`background-image: url(${otherUser.cover});`)
                    .feed-user__info--backgroud-effect
                        img(src=otherUser.profile, alt="user profile")
                        span=otherUser.name
                nav.feed-user__info-subNav
                    h4=`${otherUser.name}님의 타임라인`
                    if user.idx === otherUser.idx
                        a(href=`/user${routes.editPassword}`) Edit Password
                        a(href=`/user${routes.editProfile}`) Edit Profile
            section.feed-user__grid-layout
                aside.feed-main__gridLayout-aside
                    section.aside-block
                        h3.ir_su aside
                        //- include ./partials/asideFriends
                        article.feed-main__aside-friend
                            .feed-main__aside-friend-link--grid
                                a(href="#")
                                    img(src="/img/friend.png", alt="")
                                    h5 Friend
                                    span 283
                                a(href="#") Find Friends
                            .feed-main__aside-friend-grid
                                each friendProfileBlock in [0,0,0,0,0,0,0,0,0]
                                    +friendProfileBlock({
                                        })
                        include ./partials/asideAd
                        span Facebook &copy; #{new Date().getFullYear()}
                .feed-user__feed
                    article.feed-user__upload
                        include ./partials/feedUpload.pug
                    article.feed-user__content
                        each item in feeds
                            +feedBlock({
                                idx: item.idx,
                                writer: item.writer,
                                writerIdx: item.writer_idx,
                                writerProfile: otherUser.profile,
                                createdAt: item.createdAt,
                                fileUrl: item.fileUrl,
                                description: item.description,
                                likes: item.likes
                            })