.header
    .header__wrapper
        .header__logo
            h1.ir_su facebook
            a(href=`/feeds${routes.feedsMain}`, title="Feed Main")
                i.fab.fa-facebook
        .header__search-bar
            form(action=`/feeds/search`, method="get")
                input(type="text", name="searchWord", placeholder="Searching", autocomplete="off")#header__searchBar
                input(type="submit", value="　")#header__searchBar-btn
        .header__profile
            a(href=routes.feedsUser(user.idx), title="My feed")
                img(src=user.profile, alt="userProfile")
                span=user.name
        .header__subMenu
            ul.header__subMenu-friend
                a(href="#", title="My friends")
                    i.fas.fa-user-friends
            ul.header__subMenu-notice
                a(href="#", title="My notices")
                    i.fas.fa-bell
            ul.header__subMenu-logout
                a(href=routes.logout, title="Log Out")
                    i.fas.fa-sign-out-alt