.header
    .header__wrapper
        .header__logo
            h1.ir_su facebook
            a(href=`/feeds${routes.feedsMain}`, title="Feed Main")
                i.fab.fa-facebook
        .header__search-bar
            form(action=`/feeds${routes.feedsSearch}`, method="get")
                input(type="text", name="searchWord", placeholder="Searching",id="header__searchBar", autocomplete="off", required)
                input(type="submit", value="　")#header__searchBar-btn
        .header__subMenu
            ul.header__subMenu-friend
                i.fas.fa-user-friends#jsHeaderFriendBtn
            ul.header__subMenu-notice
                i.fas.fa-bell
            ul.header__subMenu-logout
                a(href=routes.logout, title="Log Out")
                    i.fas.fa-sign-out-alt
        .header__profile
            a(href=routes.feedsUser(user.idx), title="My feed")
                img#jsUserProfile(src=user.profile, alt="userProfile")
                span#jsUserName=user.name
        include ./dropMenu
        include ./waitFriendBox